[Unit]
Description=Web scraping service
After=network.target

[Service]
User=inaba
Restart=on-failure
RestartSec=600
ExecStart=/usr/bin/python3 /home/inaba/pyrice-logger/vaio/vaio1price.py

[Install]
WantedBy=multi-user.target

