[Unit]
Description=Web scraping service
After=network.target

[Service]
User=iriya
Restart=on-failure
RestartSec=600
ExecStart=/usr/bin/python3 /home/iriya/py/pyrice-logger/asus/asus.py

[Install]
WantedBy=multi-user.target

